body {
    background: #CCC;
}

#head a:hover {
    color: #FFF;
}

#bg-image {
    background: url(/static/img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 500px;
}

#about {
    margin-top: -200px;
}

#about .fa {
    color: #FFF;
}