{%extends "layout.html"%}
{%block content%}
<div class="about">
    <h1>About page</h1>
    <br/>
    <p>Name: Eric Schmidt</p>
    <p>Education:</p>
    <ul>
        <li>Framingham State University (Active)</li>
        <li>Quinsigamond Community College (Associates Degree)</li>
        <li>Marlborough High School (High School Diploma)</li>
    </ul>
    <p>Programming Skills:</p>
    <ul>
        <li>Python</li>
        <li>Java</li>
        <li>C++</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>SQL</li>
    </ul>
</div>
{%endblock%}
