{%extends "layout.html"%}
{%block content%}
<div class="projects">
    <h1>Projects page</h1>
    <br/>
    <div class="project-sections">
        <a href="https://github.com/Eric01752/English-Thesaurus"><h3>English Thesaurus Application</h3></a>
        <img class="project-img" src="/static/img/english_thesaurus.png" alt="English Thesaurus Screenshot">
        <h4>Description:</h4>
        <p>This application gets a word from the user and returns the definition(s) if the program finds a match.</p>
    </div>
    <div class="project-sections">
        <a href="https://github.com/Eric01752/Volcano-and-Population-Map"><h3>Volcano and Population Map</h3></a>
        <img class="project-img" src="/static/img/volcano_population_map.png" alt="Volcano and Population Screenshot">
        <h4>Description:</h4>
        <p>This application opens a webpage showing the world map with two layers, a world population layer and a
            United States volcano location layer.</p>
    </div>
</div>
{%endblock%}